body, html {
	margin: 0px;
	font-family: "Open Sans", sans-serif;
	background: #FAFAFA;
}

/* Header Styling */
#header {
	position: fixed;
	width: 100vw;
	height: 10vh;
	background: #FEFEFE;
	border-bottom: 1px solid #52303F;
	z-index: 999;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#section-links-box {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#section-links-box div {
	margin: 0 1.5vw 0 0;
	font-size: 18px;
}

.section-link {
	color: black;
	opacity: .7;
	text-decoration: none;
	padding: 0.1em 0.4em 0.1em 0.4em;
}

.active {
	border-bottom: solid 3px #6C3F60;
	color: #6C3F60;
	font-weight: 600;
	opacity: 1;
}

.section-link:hover {
	opacity: 1;
	transition-duration: 300ms;
}

#logo {
	position: relative;
	left: 3%;
}

#logo a {
	opacity: 1;
	border: none;
}

#logo img {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 6vw;
	height: auto;
}

/*#lang-ops {
	position: fixed;
	top: 80%;
	left: 93%;
	z-index: 999;
	display: flex;
	flex-direction: column;
	align-items: center;
}*/

/* general section styling */
.section {
	position: relative;
	padding-top: 3vh;
	padding-bottom: 5vh;
	top: 10vh;
	width: 100vw;
	height: auto;
}

.section a {
	color: #6C3F60;
	text-decoration: none;
	font-weight: 600;
}

.section-title {
	position: relative;
	height: 25vh;
	font-family: "Crimson Text", serif;
}

.section-title h2 {
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translateX(-50%);
	font-size: 42px;
}

.section-title h2:hover {
	color: #6C3F60;
	transition-duration: 300ms;
}

.section-title-ipa {
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translateX(-50%);
}

.section-title-ipa:hover {
	color: #6C3F60;
	transition-duration: 300ms;
} 

.ipa {
	font-family: "Noto Serif", serif;
}

/* Index Page */
#about {
	margin-top: 0;
	padding-top: 0;
	height: 90vh;
}

#about a {
	color: #7D1F51;
}

#about-container {
	position: absolute;
	left: 15vw;
	top: 50%;
	transform: translateY(-50%);
	width: 70vw;
	height: 70vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#profile-and-links {
	position: relative;
	width: 30vw;
}

#profile-and-links img {
	position: absolute;
	top: 8%;
	height: 50vh;
	width: auto;
}

#profile-and-links p {
	position: absolute;
	top: 80%;
	font-size: 14px;
	margin: 0;
}

#about-bio {
	position: relative;
	width: 40vw;
	text-align: justify;
}

#plinks {
	position: absolute;
	display: flex;
	flex-direction: row;
	top: 86%;
}

#plinks div {
	width: 3vw;
	text-align: center;
}

#plinks span {
	margin-right: 20px;
}

#name {
	font-family: "Crimson Text", serif;
	font-size: 60px;
	margin-top: 0.1em;
    margin-bottom: 0.1em;
}

/* tooltip implementation 
@source https://codepen.io/cbracco/pen/qzukg */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip relative to the element */
[data-tooltip]:before {
  position: absolute;
  top: 120%;
  left: -50%;
  opacity: .8;
  padding: 0.6em;
  width: 4.5em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #6C3F60;
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 12px;
  line-height: 1;
  font-weight: 600;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  transition-duration: 600ms;
}

/* Icon fonts by Mario del Valle Guijarro
https://mariodelvalle.github.io/CaptainIconWeb/ */
@font-face {
	font-family: 'captainicon';
	src:url('fonts/captainicon.eot?-1i2a56');
	src:url('fonts/captainicon.eot?#iefix-1i2a56') format('embedded-opentype'),
		url('fonts/captainicon.woff?-1i2a56') format('woff'),
		url('fonts/captainicon.ttf?-1i2a56') format('truetype'),
		url('fonts/captainicon.svg?-1i2a56#captainicon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'captainicon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* profile */
.icon-048:before {
	content: "\e62f";
	font-size: 22px;
	color: #807c7e;
}
.icon-298:before {
	content: "\e729";
	font-size: 22px;
	color: #807c7e;
}
/* name card */
.icon-163:before {
	content: "\e6a2";
	font-size: 22px;
	color: #515151;
}

/* fb */
.icon-091:before {
	content: "\e65a";
	font-size: 22px;
	color: #515151;
}
.icon-092:before {
	content: "\e65b";
	font-size: 22px;
	color: #807c7e;
}
.icon-093:before {
	content: "\e65c";
}

/* linkedin */
.icon-109:before {
	content: "\e66c";
	font-size: 22px;
	color: #807c7e;
}
.icon-110:before {
	content: "\e66d";
	font-size: 22px;
	color: #515151;
}
.icon-111:before {
	content: "\e66e";
}

/* github? */
.icon-150:before {
	content: "\e695";
	font-size: 22px;
	color: #515151;
}

/* location pin */
.icon-002:before {
	content: "\e601";
}

/* link */
.icon-245:before {
	content: "\e6f4";
}

/* book */
.icon-079:before {
	content: "\e64e";
}

/* music note */
.icon-085:before {
	content: "\e654";
}

/* text cursor */
.icon-261:before {
	content: "\e704";
}

/* leaves */
.icon-369:before {
	content: "\e770";
}

/* thumbs up */
.icon-211:before {
	content: "\e6d2";
}


/* Experience & Project Sections */

#exp {
	background: #E5EDEB;
}

.timeline-wrap {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: 70vw;
	height: auto;
}

.timeline-wrap span a {
	color: #6C3F60;
	text-decoration: none;
	font-weight: 400;
}

.timeline-catog {
	padding-top: 5vh;
	padding-bottom: 3vh;
}

.timeline-catog h3 {
	font-size: 26px;
	font-weight: 400;
	color: #6C3F60;
}

.timeline-cell {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 70vw;
	margin-bottom: 5vh;
}

.timeline-cell h4 {
	margin: 0;
}

.timeline-head {
	width: 30vw;
	padding-right: 5vw;
}

.timeline-head h4 {
	font-weight: 700;
}

.timeline-head span {
	font-weight: 200;
	font-size: 13px;
}

.timeline-desc {
	width: 40vw;
}

.timeline-desc h4 {
	font-weight: 600;
}

.timeline-desc p {
	margin-top: 1vh;
	margin-bottom: 0.5vh;
	font-size: 15px;
	text-align: justify;
}

.timeline-desc span {
	font-size: 14px;
}

.timeline-desc .icon-245:before {
	color: #6C3F60;
	font-size: 14px;
}

/* Skills Section */

#skills {
	background: #E5EDEB;
}

#skills-wrap {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: 60vw;
	height: auto;
}

.skills-catog {
	padding-top: 3vh;
	padding-bottom: 5vh;
}

.skills-catog h3 {
	font-size: 20px;
	font-weight: 600;
}

.skills-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 60vw;
}

.skills-cell {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 27vw;
	padding: 0.5em 0em 0.7em 0em;
}

.skill-name {
	font-size: 14px;
	width: 10vw;
}

.bar {
	display: inline-block;
	width: 15vw;
	line-height: 0.6em;
	border: solid 2px #6C3F60;
}

.bar span {
	display: block;
	height: 0.6em;
	background: #6C3F60;
}

#interests-wrap {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: 80vw;
	height: auto;
}

.int-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 2vh;
	/*border: solid;*/
}

.int-cell {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 2.5em;
	width: 40vw;
	/*border: solid;*/
}

.int-cell a {
	color: #7D1F51;
}

.int-name {
	margin: 0 0 1em 0;
}

.int-name span {
	color: #6C3F60;
}

.int-name h3 {
	display: inline-block;
	margin: 0 0 0 0.5em;
	font-weight: 600;
}

.int-desc {
	font-size: 14px;
	text-align: justify;
}

#notes {
	background: #EAE5EA;
	padding-bottom: 15vh;
}

#sitecred {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: 70vw;
	text-align: center;
}
